div#page
{
    background:#f0f0f0 url("../images/trento/page-bg.jpg") repeat-y center;
}

div#logo h1
{
	font-size:2.5em;
	font-family:"Times New Roman", Times, serif;
	text-transform:uppercase;
	margin:0;
	padding:0;
	color:#fff;
}

div#logo h1 a,
div#logo h1 a:hover,
div#logo h1 a:visited
{
	color:#fff;
	text-decoration:none;
	background: url("../images/trento/logo-bg.png") no-repeat top left;
	text-indent:-9999px;
	width:428px;
	padding:25px 0;
	line-height:33px;
	display:block;
}

div#header
{
    margin: 0 auto;
    text-align: left;
    height:83px;
    overflow:hidden;    
    background:#154985 url("../images/trento/header-bg.jpg") no-repeat bottom right;
    border-top:5px solid #666666
}


/* folder facet */
ul.facet-list li
{
    background: none !important;
    padding: 0;
    font-size: .9em;
}

ul.facet-list li div.current
{
    background: #0051A1;
    padding: 4px;    
}

ul.facet-list li div.current a
{
    color: #fff;
    font-weight: bold;
}

ul.facet-list li div.current a.helper
{
    font-size: 1.3em
}

ul.facet-list li div.current-inherit
{
    opacity: 0.5;
}

/* line-compact */

body.js .line-handler .blocco-titolo-oggetto,
body.js .line-handler .blocco-contenuto-oggetto,
body.js .line-handler .image-small,
body.js .line-handler .main-image
{ 
    padding-left: 20px
}

body.js .line-handler .blocco-titolo-oggetto
{
    position: relative; 
}

body.js .line-compact .compact-handler,
body.js .line-expand .compact-handler
{
    background: url(../images/trento/line-compact.gif) center center no-repeat;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 15px;
    cursor: pointer;
}

body.js .line-expand .compact-handler
{
    background: url(../images/trento/line-expand.gif) center center no-repeat;
}

body.js .line-global-handler-close,
body.js .line-global-handler-open
{
    background: url(../images/trento/line-compact.gif) center center no-repeat;
    height: 20px;    
    width: 15px;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

body.js .line-global-handler-close
{
    background: url(../images/trento/line-expand.gif) center center no-repeat;    
}

body.js .line-compact .main-image,
body.js .line-compact .image-small,
body.js .line-compact .blocco-contenuto-oggetto
{
    display: none;
}

.col-content-design form.left
{
    position: relative;
    z-index: 10;
}

.sort-icons,
.sort-label
{
    float: left;
}

.sort-icons
{
    margin-left: 10px;
}

.sort-icon
{
    clear: left;
    display: block;
    float: left;
    height: 7px;
    margin-bottom: 2px;
    text-indent: -999px;
    width: 7px;
    background: url(../images/trento/sort-icons.gif) top center no-repeat;
    opacity: .3;
    overflow: hidden;
}
.sort-icon-asc
{
    background-position: top center;
}
.sort-icon-desc
{
    background-position: bottom center;
}
.sort-icons .selected
{
    opacity: 1;
}

div.global-view-full h1, div.attribute-header h1, div.attribute-header h1.long {
    background-image: none;
    border-bottom: 3px solid #EFEFEF;
    color: #002454;
    font-size: 1.75em;
    font-weight: normal;
    margin: 0 0 0.5em;
    padding: 0 0 5px;
    width: 100%;
}

/* FACTBOX */

div#page div.factbox
{
    /*width: 17em;*/
	width:100%;
	float:none;
}

div#page div.factbox-header
{
    margin-bottom: 0;
}

div#page div.factbox-header h2
{
    margin: 1px 0px 3px 0px;
    padding: 0;
    font-size: 1.2em;
}

div#page div.factbox-header div.border-tl
{
    background-image: url(../images/trento/factbox-header/border-tl.gif);
}

div#page div.factbox-header div.border-tr
{
    background-image: url(../images/trento/factbox-header/border-tr.gif);
}

div#page div.factbox-header div.border-tc
{
    background-image: url(../images/trento/factbox-header/border-tc.gif);
}

div#page div.factbox-header div.border-ml
{
    background-image: url(../images/trento/factbox-header/border-ml.gif);
}

div#page div.factbox-header div.border-mr
{
    background-image: url(../images/trento/factbox-header/border-mr.gif);
}

div#page div.factbox-header div.border-mc
{
    background: #D5D5C2 url(../images/trento/factbox-header/border-mc.gif) repeat-x top left;
    padding: 0 6px 0 6px;
}

div#page div.factbox-header div.border-bl
{
    background-image: url(../images/trento/factbox-header/border-bl.gif);
}

div#page div.factbox-header div.border-br
{
    background-image: url(../images/trento/factbox-header/border-br.gif);
}

div#page div.factbox-header div.border-bc
{
    background-image: url(../images/trento/factbox-header/border-bc.gif);
}

div#page div.factbox-content div.attribute-image
{
    margin: 0.5em 0.5em 0.5em 0;
    float: left;
}

div#page div.factbox-content div.border-tl
{
    background-image: url(../images/trento/factbox/border-tl.gif);
}

div#page div.factbox-content div.border-tr
{
    background-image: url(../images/trento/factbox/border-tr.gif);
}

div#page div.factbox-content div.border-tc
{
    background-image: url(../images/trento/factbox/border-tc.gif);
}

div#page div.factbox-content div.border-ml
{
    background-image: url(../images/trento/factbox/border-ml.gif);
}

div#page div.factbox-content div.border-mr
{
    background-image: url(../images/trento/factbox/border-mr.gif);
}

div#page div.factbox-content div.border-mc
{
    background: #ECECE3 url(../images/trento/factbox/border-mc.gif) repeat-x top left;
    padding: 3px 6px 3px 6px;
}

div#page div.factbox-content div.border-bl
{
    background-image: url(../images/trento/factbox/border-bl.gif);
}

div#page div.factbox-content div.border-br
{
    background-image: url(../images/trento/factbox/border-br.gif);
}

div#page div.factbox-content div.border-bc
{
    background-image: url(../images/trento/factbox/border-bc.gif);
}